@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

body {
  @apply bg-white text-slate-900 transition-colors duration-200 dark:bg-slate-950 dark:text-slate-100;
}

@keyframes customSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader-spin {
  animation: customSpin 1.8s linear infinite;
}